@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  font-family: "Inter", sans-serif !important;
  background-color: #111 !important;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  color: #fff !important;
  /* user-select: none !important; */
}

.conteudo {
  background-color: #252525 !important;
}

.level {
  background-color: #fff !important;
  opacity: 0.3;
}

.favGamesFundo {
  background-color: #2f2f2f !important;
}

.genero {
  color: #7c7c7c;
}

@media (max-width: 900px) {
  .perfil {
    width: 90% !important;
    margin: 0 auto !important;
    max-width: 373px !important;
  }
  .mobile {
    display: flex !important;
    flex-direction: column !important;
  }
}

img.responsiva {
  width: 211px;
  height: 140px;
  object-fit: cover; /* Evita distorções */
}

@media (max-width: 768px) {
  img.responsiva {
    width: 280px;
    height: 210px;
    object-fit: cover; /* Evita distorções */
  }
}
